{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Sim Com Amor 💍</h1>
    <p>Muito mais que um convite</p>

    <div class="grid">

        <a href="/rsvp" class="item">
            <img src="/static/img/rsvp.png">
            <span>RSVP</span>
        </a>

        <a href="/album" class="item">
            <img src="/static/img/album.png">
            <span>Álbum</span>
        </a>

        <a href="/localizacao" class="item">
            <img src="/static/img/localizacao.png">
            <span>Local</span>
        </a>

        <a href="/presentes" class="item">
            <img src="/static/img/lista.png">
            <span>Presentes</span>
        </a>

        <a href="/recados" class="item">
            <img src="/static/img/mural.png">
            <span>Recados</span>
        </a>

        <a href="/agenda" class="item">
            <img src="/static/img/agenda.png">
            <span>Agenda</span>
        </a>

        <a href="/historia" class="item">
            <img src="/static/img/historia.png">
            <span>História</span>
        </a>

        <a href="/cerimonia" class="item">
            <img src="/static/img/nossa_cerimonia.png">
            <span>Cerimônia</span>
        </a>

        <a href="/musicas" class="item">
            <img src="/static/img/musicas.png">
            <span>Músicas</span>
        </a>

        <a href="/mais" class="item">
            <img src="/static/img/mais_opcoes.png">
            <span>Mais</span>
        </a>

    </div>

</div>

{% endblock %}